<!-- # Form Partial

This partial is rendered on a resource's `new` and `edit` pages,
and renders all form fields for a resource's editable attributes.

## Local variables:

- `page`:
  An instance of [Administrate::Page::Form][1].
  Contains helper methods to display a form,
  and knows which attributes should be displayed in the resource's form.

[1]: http://www.rubydoc.info/gems/administrate/Administrate/Page/Form
%> -->

<%= form_for([namespace, page.resource], html: { class: "form" }) do |f| %>
  <% if page.resource.errors.any? %>
    <div id="error_explanation">
      <h2>
        <%= t(
          "administrate.form.errors",
          pluralized_errors: pluralize(page.resource.errors.count, t("administrate.form.error")),
          resource_name: display_resource_name(page.resource_name).singularize
        ) %>
      </h2>

      <ul>
        <% page.resource.errors.full_messages.each do |message| %>
          <li class="flash-error"><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <% page.attributes.each do |attribute| -%>
    <div class="field-unit field-unit--<%= attribute.html_class %> field-unit--<%= requireness(attribute) %>">
      <%= render_field attribute, f: f , class: attribute%>

    </div>
  <% end -%>

  <div class="form-actions" id = "main_submit">
    <%= f.submit %>

  </div>
<% end %>
<button id = "add_poll">
  Add Poll
</button>
<button id = "hide_poll" hidden="true">
  Hide Poll
</button>
<div id = "question_form" hidden="true">
  <%= form_for :question do |f| %>
  <h4>Polling Question</h4> <%= f.text_field :question_name , id: "question_feild"%><br />
  <h4>Answer Type</h4><%= f.text_field :answer_type , id: "answer_feild"%><br />
<% end %>
</div>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script>
  $("#add_poll").click(function(){
  $("#add_poll").hide()
  $("#question_form").show()
  $("#hide_poll").show()

});
</script>

<script>
  $("#hide_poll").click(function(){
  $("#add_poll").show()
  $("#question_form").hide()
  $("#hide_poll").hide()
});
</script>

<script>
  $("#main_submit").click(function(argument) {
    var questionData = {
  'question': $("#question_feild").val(),
  'ans_type': $("#answer_feild  ").val(),
  'title': $("#news_title").val(),
};
    $.ajax({
      type: 'POST',
      url: '<%= news_question_admin_news_index_path %>',
      data: questionData,
      success: function(resultData) { alert("Save Complete") }
});
  });
</script>