<!DOCTYPE html>
<html>
  <head>
    <title>NewsApi</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
      <% if user_signed_in? %>
        <%= link_to "Sign Out", destroy_user_session_path, class: "button button--alt", :method => :delete %>
      <% else %>
        <%= link_to "Sign In", user_session_path, class: "button button--alt", :method => :post %>
      <% end %>
    <%= yield %>
  </body>
</html>
